# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/
/.pnp/
.pnp.js

# testing
/coverage/

# production
/build/

# environment variables
.env*

# misc
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?

*storybook.log
